.header {
    display: flex;
    justify-content: space-between;
}

.tinder__logo {
    width: 70px;
    position: relative;
    top: 30px;
    user-select: none;
}

.header_icons {
    padding: 25px;
}